html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
}

/* ============== temp ================= */
.title {
  color: white;
}

.button {
  width: 120px;
  background-color: cornflowerblue;
  font-weight: 800;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.content {
  display: flex;
  justify-content: center;
}
/* =============== navigation ==================== */
.navigationList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navigationListItem {
  margin: 10px 20px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  cursor: pointer;
  width: 120px;
  text-align: center;
}

.activePage {
  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 5px;
}

.invisible {
  display: none;
}
/* ============== productsPage ================== */
.categoriesList {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
  list-style: none;
  margin-top: 20px;
}

.categoriesListItem {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}
/* ================= profilePage ================== */

/* ===================== productForm ================== */
.productForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  height: 400px;
}
.productName,
.productImage,
.productDescription,
.productPrice,
.productCategory {
  width: 90%;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px;
}

/* .productDescription {


} */

/* =========================== ProductItem ============= */
.productsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.productsItem {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.productItemImage {
  max-height: 170px;

}
.productItemName {
  text-align: center;
}

.productItemDescription, .productItemPrice {
  text-indent: 10px;
  width: 90%;
}

.cartbutton {
  width: 50%;
  text-transform: uppercase;
  margin-top: 10px;
}


/* ====================== authForm ======================= */
.authForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  height: 120px;
}
.authForm input {
  width: 90%;
  border-radius: 5px;
  border: 1px solid black;
}

.authFormButtons {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
